.icon-wrap{width: 50px;height:50px;float: left;margin:2px; background:#ddecff;border-radius: 2px;cursor: pointer;}
.icon-wrap:hover{background: #f1f5fb;}
.icon-wrap ::ng-deep svg{max-width: 100%;max-height: 100%;}
.pagination{
	display: block;
	width: 32px;
	height: 32px;
	border:1px solid #aaa;
	border-radius: 50%;
	font-size: 12px;
	text-align: center;
	padding-top: 8px;
	cursor: pointer;
	margin-right: 4px;
}
.pageno {
	width: 80px;
	border-radius: 16px;
	text-align: center;
	background: #fff;
	margin-right: 8px;
}
.loader {
	float: left;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 10px;
  text-indent: -9999em;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #10b6f9;
  background: -moz-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: -webkit-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: -o-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: -ms-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: linear-gradient(to right, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #10b6f9;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.p-relative{position: relative;}
.load-blur{filter: blur(3px);}