<div class="banner bg-main">
	<div class="container">
		<div class="banner-content">
			<h1>Upgrade my account</h1>
			<p class="mt-3">Your library of graphics made using your account.</p>
			<a routerLink="/editor" class="btn btn-warning text-white">Create Icons Now</a>
		</div>
	</div>
</div>
<main>
	<div class="container">
		<div class="w-100 pt-5">
			<div class="alert alert-success text-center">
				
				<svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;width:100px;height: 100px;" xml:space="preserve">
				<path class="circ path" style="fill:#0cdcc7;stroke:#07a796;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
					M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
					/>
				<polyline class="tick path" style="fill:none;stroke:#fff;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
					11.6,20 15.9,24.2 26.4,13.8 "/>
				</svg>
				<h4 class="alert-heading">Congratulation!</h4>
					<p>
						Your account is upgraded.
					</p>
			</div>
		</div>
	</div>
</main>