.banner-content{padding: 50px 20px;}
.login-wrap{
	width: 550px;
	max-width: 100%;
	border-radius: 6px;
	border:1px solid #ddd;
	margin:50px auto;
	padding-top:50px;
}
.login-form{
	padding: 0 50px 40px;
}
.form-bottom{
	background: #eee;
	padding: 30px 20px;
}
.input-group>.input-group-prepend>.input-group-text{
	min-width: 42px;
	text-align:center;
}
::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,::ng-deep  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
	background: #4791ff;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #4791ff;
}
.loader {
	position: absolute;
  left: -34px;
  top: 10px;
  font-size: 10px;
  margin-top: 8px;
  margin-right: 10px;
  text-indent: -9999em;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #10b6f9;
  background: -moz-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: -webkit-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: -o-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: -ms-linear-gradient(left, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  background: linear-gradient(to right, #10b6f9 10%, rgba(16,182,249, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #10b6f9;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.p-relative{position: relative;}
.is-invalid ::ng-deep .mat-checkbox-frame{
	border-color: rgba(255, 0, 0, 0.54);
}