<main>
	<div class="banner p-3">
		<div class="container py-5">
			<div class="row my-3 align-items-center">
				<div class="col-sm text-white">
					<h3 class="text-center"> The Fastest and Easiest Way<br>to Create Icons</h3>
					<p class="my-5">Making icons has never been so easy. Use the simple icon editor to make any kind of icon you want!</p>
					<p class="text-center pt-5">
						<a routerLink="/editor" class="btn btn-warning text-white">Create Icons Now</a>
					</p>
				</div>
				<div class="col-sm icon-group">
					<div class="row justify-content-md-center">
						<div class="col-auto py-2"><img src="assets/images/fb1.png"></div>
						<div class="col-auto py-2"><img src="assets/images/fb2.png"></div>
						<div class="col-auto py-2"><img src="assets/images/fb3.png"></div>
					</div>
					<div class="row justify-content-md-center">
						<div class="col-auto py-2"><img src="assets/images/tw1.png"></div>
						<div class="col-auto py-2"><img src="assets/images/tw2.png"></div>
						<div class="col-auto py-2"><img src="assets/images/tw3.png"></div>
					</div>
					<div class="row justify-content-md-center">
						<div class="col-auto py-2"><img src="assets/images/gplus1.png"></div>
						<div class="col-auto py-2"><img src="assets/images/gplus2.png"></div>
						<div class="col-auto py-2"><img src="assets/images/gplus3.png"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content pb-5">
		<div class="container">
			<div class="text-center p-5">
				<h2>How It Works</h2>
			</div>
			<div class="row pb-5 mb-5">
				<div class="col-sm">
					<div class="row">
						<div class="col-4"><img src="assets/images/desc1.png"></div>
						<div class="col-4"><img src="assets/images/desc2.png"></div>
						<div class="col-4"><img src="assets/images/desc3.png"></div>
					</div>
				</div>
				<div class="col-sm">
					<ol><li>Choose icons (shapes) that you would like to style by clicking on several icons in the left-hand Icon selection box.</li><li>Click on the “Backgrounds” heading to switch to view available backgrounds.</li><li>Adjust background colors, shape colors and drop shadow parameters for entire icon set.</li><li>Click on any of the generated icons to adjust shape size, rotate shape or flip shape.</li><li>Save, share or download your icons! </li></ol>
				</div>
			</div>
		</div>
	</div>
</main>